.toggle {
    width: 4vw;
    height: 4vh;
    background: var(--color_fondo);
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    transition: background 0.3s;
}

.toggle input {
    display: none;
}

.girar {
    width: 2vw;
    height: 2vh;
    background: var(--color_rojo_riot);
    border-radius: 50%;
    position: absolute;
    left: 5px;
    transition: transform 0.4s ease;
}

.toggle input:checked~.girar {
    transform: translateX(40px) rotate(180deg);
}

.toggle input:checked~.icono_sol {
    opacity: 0;
}

.toggle input:checked~.icono_luna {
    opacity: 1;
}

body:has(.toggle input:checked) {
    background: var(--color_fondo);
}

body:has(.toggle input:checked) .toggle {
    background: var(--color_fondo);
}