body {

    background-color: var(--color_fondo);

    background-image: url("../styles/images/fondos/fondo.png");
    background-size: 120vw auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: none;
}

form {

    display: flex;
    flex-direction: column;

    font-style: italic;
}

div {
    display: flex;
    justify-content: center;

    margin-top: 8%;
}

input {

    width: 30em;

    padding: 10px;

    border: 2px solid;
    border-radius: 10px;
}

button {

    background-color: var(--color_rojo_riot);

    width: 32em;

    padding: 10px;

    border: 2px solid;
    border-radius: 10px;

    transition: transform 0.3s ease;
}

button:hover {

    transform: scale(1.05);
}

h1 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 20px;
    color: var(--color_rojo_riot);

}

h3 {
    font-size: 24px;
    color: var(--color_rojo_riot);
}

img {
    height: 30vh;
    width: 10vw;

    border: 2px solid white;
    transition: transform 0.3s ease;

}

img:hover {

    transform: scale(1.03);

}

.juegos_riot {

    display: flex;
    justify-content: center;

    height: 100%;
    width: auto;

    gap: 2.5vw;
    margin-top: 2.1vh;
    flex-basis: 10.28vw;
}

.juego {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10.28vw;
}


.toggle {
    width: 4vw;
    height: 4vh;
    background: var(--color_fondo);
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 5vw;
    transition: background 0.3s;
}

.toggle input {
    display: none;
}

.girar {
    width: 2vw;
    height: 2vh;
    background: var(--color_rojo_riot);
    border-radius: 50%;
    position: absolute;
    left: 5px;
    transition: transform 0.4s ease;
}

.toggle input:checked~.girar {
    transform: translateX(40px) rotate(180deg);
}

.toggle input:checked~.icono_sol {
    opacity: 0;
}

.toggle input:checked~.icono_luna {
    opacity: 1;
}

body:has(.toggle input:checked) {
    background: var(--color_fondo);
}

body:has(.toggle input:checked) .toggle {
    background: var(--color_fondo);
}