:root {

    --color_gris_humo: #3A3A3A;
    --color_fondo: #292323;

    /*Tablas*/
    --padding_recuadros_equipos: 12px;
    --espacio_tablas: 15px;
    --color_fondo_tr: grey;
    --color_hover_td: grey;
    --color_fondo_th: white;
    --color_enlaces: orange;
    --color_rojo_riot: #D3313D;

    /*Texto*/
    --color_texto: white;
    --color_texto_azul: #00E4F7;

    /*Cabecera*/
    --color_cabecera: #111111;

    --img-height: 21.4vh;

   
    --fondo-principal: #0a0a0a;
    --color-texto: #f0e6d2; 
    --color-acento: #c89b3c;  
    --fondo-input: #1e2328;
    --transicion-suave: 0.3s ease;

}

h1 {
    font-size: 3vh;

}

p {
    font-size: 1.8vh;
    min-height: 50px;
}

font-style {
    font-style: normal;
}