.padre {

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    border: solid 3px;
    background-color: blanchedalmond;
}


.padre2 {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: solid 6px;
    background-color: cadetblue;

}

.hijo {

    background-color: yellowgreen;
    border: solid 3px;
    margin: 10px;
    padding: 2vh;

}