body {

    background-color: var(--color_fondo);
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.seccion_equipos {

    table {
        border-collapse: separate;
        border-spacing: var(--espacio_tablas);
        width: 100%;
    }

    td:first-child {
        text-align: left;
    }

    td:nth-child(2):hover {
        background-color: grey;
        transform: scale(1.02);
    }

    .link a {
        margin: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }


    td {
    

        border: 1px solid grey;
        padding: var(--padding_recuadros_equipos);
        text-align: center;
        color: white;
    }

    th {
        background-color: #f2f2f2;
        padding: var(--padding_recuadros_equipos);
    }

    font-style: italic;
}

.icono_LEC{

    display: flex;
    position: absolute;
    left: 0;
}

