
.contenedor_masivo{
     flex-wrap: wrap;
}

.principal {
    background-color: unset;
    background-color: rgb(17, 190, 147);
    border: var(--grosor_borde);

}


.navigation {
    background-color: bisque;
    border: var(--grosor_borde);

}

.headser {
    background-color: brown;
    padding: 70px;
    border: var(--grosor_borde);
}

.side {
    background-color: burlywood;
    border: var(--grosor_borde);
}

.body {
    background-color: cadetblue;
    border: var(--grosor_borde);

}

.footer {
    background-color: aquamarine;
    border: var(--grosor_borde);
}