@media screen and (max-width: 1000px) {

    body {
        background-color: var(--cadetblue);
    }

}

.contenedor_masivo {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 10% 20% 70%;
    grid-template-rows: 10% 80% 10%;
}


.logo {
    grid-column: 2/4;
    grid-row: 1;

    background-color: var(--verde);
    border: var(--grosor_borde);
}

.navbar {
    grid-column: 2;
    grid-row: 2;

    background-color: var(--bisque);
    border: var(--grosor_borde);
}

.header {
    grid-column: 2;
    grid-row: 2;

    background-color: var(--marron);
    border: var(--grosor_borde);
}




.side {
    grid-column: 1;
    grid-row: 1/3;

    background-color: var(--burlywood);
    border: var(--grosor_borde);
}

.bodyarea {
    grid-column: 3;
    grid-row: 2;

    background-color: var(--cadetblue);
    border: var(--grosor_borde);
}

.footer {
    grid-column: 1/4;
    grid-row: 3;

    background-color: var(--aquamarine);
    border: var(--grosor_borde);
}

.footer:hover{
    background-color: var(--cadetblue);
}