:root{

    --rosa: rgb(214, 188, 224);
    --verde: rgb(176, 233, 186);
    --bisque: bisque;
    --marron: brown;
    --burlywood: burlywood;
    --cadetblue: cadetblue;
    --aquamarine: aquamarine;




    --tipo_letra: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --grosor_borde: 3px solid;
}