.toggle {

    width: 110px;
    height: 50px;

    padding: 15px;
    margin-left: 100px;
    margin-top: 50px;

    border-radius: 50px;

    background-color: rgb(228, 223, 223);
}


label {

    display: flex;
    justify-content: center;

    width: 60px;
    height: 40px;

    cursor: pointer;
    border-radius: 50px;
    transition: all 0.25s ease 0s;

    background-color: #130909;
}

input {

    display: none;
}

input:checked+label {

    margin-left: 50px;
    background: rgb(68, 204, 147);

}