.padre {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30vh;
    width: 30vh;

    margin: 0;
    padding: 0;

    border: 2px greenyellow solid;
    border-radius: 50%;
}

.boton {

    appearance: none;
    height: 100%;
    width: auto;

    margin: 0;
    padding: 0;
}