.body {

    margin: 0;
}

.padre {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

.recuadro1 {

    border: solid 2px;
    margin: 5vh;
    height: 15vh;
    width: 15vh;
    background-color: mediumturquoise;
}

.recuadro2 {

    border: solid 2px;
    border-radius: 100%;
    margin: 12.5vh;
    height: 25vh;
    width: 25vh;
    background-color: aquamarine;
}

.recuadro3 {

    border: solid 2px;
    border-radius: 100%;
    height: 50vh;
    width: 50vh;
    background-color: lemonchiffon;
}

@media print {

    .body {

        margin: 0;
    }

    .padre {
        display: flex;
        justify-content: center;
        padding-top: 5cm;
    }

    .recuadro1 {

        border: solid 2px;
        margin: 5cm;
        height: 15cm;
        width: 15cm;
        background-color: rgb(26, 26, 26);
    }

    .recuadro2 {

        border: solid 2px;
        border-radius: 100%;
        margin: 12.5vh;
        height: 25vh;
        width: 25vh;
        background-color: device-cmyk(0 81% 81% 30%);
    }

    .recuadro3 {

        border: solid 2px;
        border-radius: 100%;
        height: 50vh;
        width: 50vh;
        background-color: lemonchiffon;
    }

}