.body {

    margin: 0;
}

.padre {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    position: fixed;
}

.recuadro1 {

    border: solid 2px;
    margin: 5vh;
    height: 15vh;
    width: 15vh;
    background-color: mediumturquoise;
}

.recuadro2 {

    border: solid 2px;
    border-radius: 100%;
    margin: 12.5vh;
    height: 25vh;
    width: 25vh;
    background-color: aquamarine;
}

 .recuadro3 {

    border: solid 2px;
    border-radius: 100%;
    height: 50vh;
    width: 50vh;
    background-color: lemonchiffon;

}