.padre {

    display: grid;
    background-color: aquamarine;
    border: 2px solid rgb(0, 0, 0);

    width: 80vw;
    height: 50vh;
    position: absolute;
    left: 10vw;
    top: 25vh;
}


.item1 {
    display: grid;
    background-color: blanchedalmond;
    border: 2px solid black;
    justify-content: center;
    grid-row-start: 0;
    grid-row-end: 0;



    width: 30%;

}

.item2 {
    display: grid;
    background-color: rgb(205, 255, 247);
    border: 2px solid black;
    justify-content: center;


    width: 40%;
}

.item3 {
    display: grid;
    background-color: rgb(230, 166, 70);
    border: 2px solid black;
    justify-content: center;


    width: 50%;
}

.item4 {
    display: grid;
    background-color: rgb(96, 32, 214);
    border: 2px solid black;
    justify-content: center;


    width: 60%
}

.item5 {
    display: grid;
    background-color: rgb(206, 26, 110);
    border: 2px solid black;
    justify-content: center;


    width: 70%;
}